﻿@{
    ViewData["Title"] = "Home Page";
    var ovoData = ViewData["OvoAccount"] as OvoAccount;
}



    <div class="v9tJq AAaSh VfzDr">
        <header class="vtbgv ">
            <div class="XjzKX">
                <div class="RR-M- h5uC0"
                     aria-disabled="false" role="button"
                     tabindex="0">
                    <canvas class="CfWVH"
                            height="166" width="166"
                            style="position: absolute; top: -8px;
left: -8px; width: 166px; height:
166px;"></canvas><span class="_2dbep "
                       role="link" tabindex="-1" style="width:
150px; height: 150px;">
                        <img alt="ovo.phil_'s profile picture"
                             class="_6q-tv"
                             data-testid="user-avatar"
                             draggable="false"
                             src="@ovoData.profileImage">
                    </span>
                </div>
            </div><section class="zwlfE">
                <div class="nZSzR">
                    <h2 class="_7UhW9       fKFbl yUEEX
KV-D4              fDxYl
">
                        @ovoData.username
                    </h2><div class="_862NM">
                        <div class="                    Igw0E
IwRSH      eGOV_
vwCYk
JI_ht
"></div>
                    </div><div class=" ">
                        <div class="                    Igw0E
IwRSH      eGOV_
_4EzTm
"></div>
                    </div>
                </div><ul class="k9GMp
">
                    <li class="Y8-fY ">
                        <a class="-nal3 "
                           href="/ovo.phil_/followers/"
                           tabindex="0">
                            <span class="g47SY "
                                  title="1,265">@ovoData.follwers</span>
                                followers
                            </a>
                        </li>
                        <li class="Y8-fY ">
                            <a class="-nal3 "
                               href="/ovo.phil_/following/"
                               tabindex="0">
                                <span class="g47SY
">@ovoData.following</span>
    following
    </a>
    </li>
    </ul><div class="-vDIg">
        <h1 class="rhpdm">
            P̵̝̉𝖍𝖎𝖑🌴🤘🏾
        </h1><br><span>
            ♎️
            ⚖️ <br>Sc: philroy101<br>UWI pelican
            📚<br>BSc (Hons) 🎓<br>Matthew
            22:37📖🙏🏾
        </span>
    </div>
    </section>
    </header><div class="_4bSq7">
        <div class="EcJQs">
            <div class="ekfSF" role="presentation"
                 style="">
                <div class="_9nCnY"
                     style="">
                    <ul class="vi798">
                        <li style="transform: translateX(0px);
width: 24px;"></li>
                        <li style="transform: translateX(132px);
width: 24px;"></li>
                        <li class="Ckrof"
                            tabindex="-1" style="transform:
translateX(24px);">
                            <div class="                    Igw0E
rBNOH          YBx95
_4EzTm
" style="width:
125px;"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <iframe width="420" height="315"
            src="https://www.youtube.com/watch?v=UNZqm3dxd2w">
    </iframe>
    </div>